pipeline/app_sde.json
{
	"name": "app_sde",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[ADF].[proc_etl_get_job]",
						"storedProcedureParameters": {
							"p_batch_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.BATCH_ID",
									"type": "Expression"
								}
							},
							"p_job_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_ID",
									"type": "Expression"
								}
							},
							"p_job_sub_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_SUB_GROUP",
									"type": "Expression"
								}
							},
							"p_order": {
								"type": "String",
								"value": null
							},
							"group_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.GROUP_NAME",
									"type": "Expression"
								}
							},
							"group_number": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.GROUP_NUMBER",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "UNBWH",
						"type": "DatasetReference",
						"parameters": {
							"schema": "''",
							"table_name": "''"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "START_JOB",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.BATCH_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_error_code": {
										"value": "",
										"type": "String"
									},
									"p_error_message": {
										"value": "",
										"type": "String"
									},
									"p_job_id": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_log_message": {
										"value": {
											"value": "Start load table @{item().TARGET_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_log_status": {
										"value": "START",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "UNBWH",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LND",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "START_JOB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(pipeline().parameters.RUN_LND,'1')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "END_JOB_LND_FAIL",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "call_function",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[proc_etl_log_message]",
											"storedProcedureParameters": {
												"p_batch_id": {
													"value": {
														"value": "@pipeline().parameters.BATCH_ID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"p_error_code": {
													"value": "1",
													"type": "String"
												},
												"p_error_message": {
													"value": {
														"value": "@activity('call_function').output.output.errors[0].Message",
														"type": "Expression"
													},
													"type": "String"
												},
												"p_job_id": {
													"value": {
														"value": "@item().JOB_ID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"p_log_message": {
													"value": {
														"value": "Finished load table @{item().TARGET_TABLE}",
														"type": "Expression"
													},
													"type": "String"
												},
												"p_log_status": {
													"value": "ERROR",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "UNBWH",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "call_function",
										"type": "AzureFunctionActivity",
										"dependsOn": [
											{
												"activity": "Delete1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"functionName": "vansales",
											"method": "POST",
											"body": {
												"value": "{\"file\":\"@{item().SOURCE_TABLE}\",\"full_load\":\"0\",\"from_date\":\"@{item().LAST_EXTRACT_DATE}\",\"prune_date\":\"@{item().PRUNE_DAYS}\"}",
												"type": "Expression"
											}
										},
										"linkedServiceName": {
											"referenceName": "unibenapp",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "copy_to_backup",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "call_function",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "vansales/now/@{item().SOURCE_TABLE}",
														"type": "Expression"
													},
													"wildcardFileName": "*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "JSON",
												"type": "DatasetReference",
												"parameters": {
													"folder": "''",
													"file": "''"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Json_folder",
												"type": "DatasetReference",
												"parameters": {
													"folder": {
														"value": "vansales/@{formatDateTime(addhours(utcnow(),7), 'yyyy')}/@{formatDateTime(addhours(utcnow(),7), 'MM')}/@{formatDateTime(addhours(utcnow(),7), 'dd')}/@{item().SOURCE_TABLE}",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Delete1",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "Json_folder",
												"type": "DatasetReference",
												"parameters": {
													"folder": {
														"value": "vansales/now/@{item().SOURCE_TABLE}",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								]
							}
						},
						{
							"name": "SDE",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LND",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(pipeline().parameters.RUN_SDE,'1')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "END_JOB_FAIL",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[proc_etl_log_message]",
											"storedProcedureParameters": {
												"p_batch_id": {
													"value": {
														"value": "@pipeline().parameters.BATCH_ID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"p_error_code": {
													"value": "1",
													"type": "String"
												},
												"p_error_message": {
													"value": {
														"value": "@activity('Copy data').output.error.Message",
														"type": "Expression"
													},
													"type": "String"
												},
												"p_job_id": {
													"value": {
														"value": "@item().JOB_ID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"p_log_message": {
													"value": {
														"value": "Finished load table @{item().TARGET_TABLE}",
														"type": "Expression"
													},
													"type": "String"
												},
												"p_log_status": {
													"value": "ERROR",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "UNBWH",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Copy data",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "W_BATCH_ID",
														"value": {
															"value": "@pipeline().parameters.BATCH_ID",
															"type": "Expression"
														}
													},
													{
														"name": "W_DATASOURCE_NAME",
														"value": "APP"
													},
													{
														"name": "W_INSERT_DT",
														"value": {
															"value": "@addhours(utcnow(),7)",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "vansales/now/@{item().SOURCE_TABLE}",
														"type": "Expression"
													},
													"wildcardFileName": "*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "SqlDWSink",
												"preCopyScript": {
													"value": "IF OBJECT_ID('@{item().TARGET_SCHEMA}.@{item().TARGET_TABLE}') IS NOT NULL\n\tTRUNCATE TABLE @{item().TARGET_SCHEMA}.@{item().TARGET_TABLE}",
													"type": "Expression"
												},
												"writeBehavior": "Insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "JSON",
												"type": "DatasetReference",
												"parameters": {
													"folder": "''",
													"file": "''"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "UNBWH",
												"type": "DatasetReference",
												"parameters": {
													"schema": {
														"value": "@item().TARGET_SCHEMA",
														"type": "Expression"
													},
													"table_name": {
														"value": "@{item().TARGET_TABLE}",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "END_JOB_SUCCESS",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SDE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.BATCH_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_error_code": {
										"value": "",
										"type": "String"
									},
									"p_error_message": {
										"value": "",
										"type": "String"
									},
									"p_job_id": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_log_message": {
										"value": {
											"value": "Finished load table @{item().TARGET_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_log_status": {
										"value": "END",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "UNBWH",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string",
				"defaultValue": "1"
			},
			"JOB_ID": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"JOB_SUB_GROUP": {
				"type": "string",
				"defaultValue": "APP"
			},
			"RUN_LND": {
				"type": "string",
				"defaultValue": "0"
			},
			"RUN_SDE": {
				"type": "string",
				"defaultValue": "1"
			},
			"GROUP_NUMBER": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"GROUP_NAME": {
				"type": "string",
				"defaultValue": "ALL"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-08-12T07:07:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}