pipeline/call_api_tcp99.json
{
	"name": "call_api_tcp99",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.url",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "IR-DEV",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"X-CSRF-Token": "FETCH"
					},
					"authentication": {
						"type": "Basic",
						"username": {
							"value": "@pipeline().parameters.id",
							"type": "Expression"
						},
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "token",
					"value": {
						"value": "@json(string(activity('Web1').output.ADFWebActivityResponseHeaders))['x-csrf-token']",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.url",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "IR-DEV",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"X-CSRF-Token": {
							"value": "@variables('token')",
							"type": "Expression"
						}
					},
					"body": {
						"value": "[{\"PLANT\":\"@{pipeline().parameters.plant}\",\"PERIOD\":\"@{pipeline().parameters.period}\",\"FISCAL_YEAR\":\"@{pipeline().parameters.year}\"}]",
						"type": "Expression"
					},
					"disableCertValidation": false,
					"authentication": {
						"type": "Basic",
						"username": {
							"value": "@pipeline().parameters.id",
							"type": "Expression"
						},
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			}
		],
		"parameters": {
			"url": {
				"type": "string",
				"defaultValue": "https://vhujsws4wd01.sap.unibenfoods.com:44380/sap/BI/ZWS_BI_SP99?sap-client=100"
			},
			"id": {
				"type": "string",
				"defaultValue": "UNB.BI"
			},
			"plant": {
				"type": "string",
				"defaultValue": "A100"
			},
			"period": {
				"type": "string",
				"defaultValue": "2022.01"
			},
			"year": {
				"type": "string",
				"defaultValue": "2022"
			}
		},
		"variables": {
			"token": {
				"type": "String"
			},
			"data": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-07-27T02:13:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}