pipeline/dms_sde.json
{
	"name": "dms_sde",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[ADF].[proc_etl_get_job]",
						"storedProcedureParameters": {
							"p_batch_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.BATCH_ID",
									"type": "Expression"
								}
							},
							"p_job_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_ID",
									"type": "Expression"
								}
							},
							"p_job_sub_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_SUB_GROUP",
									"type": "Expression"
								}
							},
							"p_order": {
								"type": "String",
								"value": null
							},
							"group_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.GROUP_NAME",
									"type": "Expression"
								}
							},
							"group_number": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.GROUP_NUMBER",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "UNBWH",
						"type": "DatasetReference",
						"parameters": {
							"schema": "''",
							"table_name": "''"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "START_JOB",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.BATCH_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_error_code": {
										"value": "",
										"type": "String"
									},
									"p_error_message": {
										"value": "",
										"type": "String"
									},
									"p_job_id": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_log_message": {
										"value": {
											"value": "Start load table @{item().TARGET_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_log_status": {
										"value": "START",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "UNBWH",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LND",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "START_JOB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(pipeline().parameters.RUN_LND,'1')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "copy_to_landing",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "@item().JOB_SCRIPT",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DMS",
												"type": "DatasetReference",
												"parameters": {
													"schema": "''",
													"table_name": "''"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Parquet",
												"type": "DatasetReference",
												"parameters": {
													"file_name": {
														"value": "@{item().SOURCE_TABLE}",
														"type": "Expression"
													},
													"folder": {
														"value": "landing/now",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "copy_to_backup",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "copy_to_landing",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "Parquet",
												"type": "DatasetReference",
												"parameters": {
													"file_name": {
														"value": "@{item().SOURCE_TABLE}",
														"type": "Expression"
													},
													"folder": "landing/now"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Parquet_copy_folder",
												"type": "DatasetReference",
												"parameters": {
													"folder": {
														"value": "landing/@{formatDateTime(addhours(utcnow(),7), 'yyyy')}/@{formatDateTime(addhours(utcnow(),7), 'MM')}/@{formatDateTime(addhours(utcnow(),7), 'dd')}",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "END_JOB_LND_FAIL",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "copy_to_landing",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[proc_etl_log_message]",
											"storedProcedureParameters": {
												"p_batch_id": {
													"value": {
														"value": "@pipeline().parameters.BATCH_ID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"p_error_code": {
													"value": "1",
													"type": "String"
												},
												"p_error_message": {
													"value": {
														"value": "@activity('copy_to_landing').output.errors[0].Message",
														"type": "Expression"
													},
													"type": "String"
												},
												"p_job_id": {
													"value": {
														"value": "@item().JOB_ID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"p_log_message": {
													"value": {
														"value": "Finished load table @{item().TARGET_TABLE}",
														"type": "Expression"
													},
													"type": "String"
												},
												"p_log_status": {
													"value": "ERROR",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "UNBWH",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "SDE",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LND",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(pipeline().parameters.RUN_SDE,'1')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "END_JOB_FAIL",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "run sp",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[proc_etl_log_message]",
											"storedProcedureParameters": {
												"p_batch_id": {
													"value": {
														"value": "@pipeline().parameters.BATCH_ID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"p_error_code": {
													"value": "1",
													"type": "String"
												},
												"p_error_message": {
													"value": {
														"value": "@activity('run sp').error.Message",
														"type": "Expression"
													},
													"type": "String"
												},
												"p_job_id": {
													"value": {
														"value": "@item().JOB_ID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"p_log_message": {
													"value": {
														"value": "Finished load table @{item().TARGET_TABLE}",
														"type": "Expression"
													},
													"type": "String"
												},
												"p_log_status": {
													"value": "ERROR",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "UNBWH",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "run sp",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlDWSource",
												"sqlReaderQuery": {
													"value": "exec DWH.proc_W_STG @{pipeline().parameters.BATCH_ID},'ext.@{item().TARGET_TABLE}','@{item().TARGET_SCHEMA}.@{item().TARGET_TABLE}','@{pipeline().parameters.JOB_SUB_GROUP}'; select 1",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "UNBWH",
												"type": "DatasetReference",
												"parameters": {
													"schema": "''",
													"table_name": "''"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "END_JOB_SUCCESS",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SDE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.BATCH_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_error_code": {
										"value": "",
										"type": "String"
									},
									"p_error_message": {
										"value": "",
										"type": "String"
									},
									"p_job_id": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_log_message": {
										"value": {
											"value": "Finished load table @{item().TARGET_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_log_status": {
										"value": "END",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "UNBWH",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string",
				"defaultValue": "1"
			},
			"JOB_ID": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"JOB_SUB_GROUP": {
				"type": "string",
				"defaultValue": "DMS"
			},
			"RUN_LND": {
				"type": "string",
				"defaultValue": "0"
			},
			"RUN_SDE": {
				"type": "string",
				"defaultValue": "1"
			},
			"GROUP_NUMBER": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"GROUP_NAME": {
				"type": "string",
				"defaultValue": "ALL"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-07-26T03:34:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}