pipeline/master_pipline.json
{
	"name": "master_pipline",
	"properties": {
		"activities": [
			{
				"name": "resume synapse",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "resume synapse",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "get batch id",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "resume synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[ADF].[proc_etl_get_batch_id]",
						"storedProcedureParameters": {
							"p_batch_id": {
								"type": "String",
								"value": null
							},
							"p_batch_type_id": {
								"type": "Int32",
								"value": "0"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "UNBWH",
						"type": "DatasetReference",
						"parameters": {
							"schema": "''",
							"table_name": "''"
						}
					}
				}
			},
			{
				"name": "Set batch id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get batch id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "BATCH_ID",
					"value": {
						"value": "@{string(activity('get batch id').output.firstRow.BATCH_ID)}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "End_Batch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "dms_sde",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ADF].[proc_etl_end_batch]",
					"storedProcedureParameters": {
						"p_batch_id": {
							"value": {
								"value": "@variables('BATCH_ID')",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "UNBWH",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dms_sde",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set batch id",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "dms_sde",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BATCH_ID": {
							"value": "@variables('BATCH_ID')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"BATCH_ID": {
				"type": "String",
				"defaultValue": "1"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-07-21T04:04:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}